.job {
  margin-right: 25%;
  margin-left: 5%;
}
.title {
  font-size: 32px;
}
.company {
  margin-left: 0%;
  font-size: 28px;
}
.date {
  margin-left: 0%;
  font-size: 28px;
}
.description {
  margin: 50px 0px 100px 2%;
  font-size: 24px;
}
